:root {
    --color-background-light: oklch(0.98 0.013 45);
    --color-on-background-light: oklch(0.20 0.06 315);
    --color-primary-light: oklch(0.93 0.0538 56);
    --color-accent1-light: oklch(0.6 0.18 217);
    --color-accent2-light: oklch(0.6 0.18 13);
    --color-accent1-2-light: oklch(0.6 0.18 301);
    --color-outline-light: rgba(0, 0, 0, 0.20);
    --color-on-primary-container: var(--color-on-background);
    --color-outline-on-primary-container: var(--color-outline);

    --color-background-dark: oklch(0.20 0.013 45);
    --color-on-background-dark: oklch(0.86 0.06 45);
    --color-primary-dark: oklch(0.28 0.06 256);
    --color-accent1-dark: oklch(0.8 0.17 58);
    --color-accent2-dark: oklch(0.8 0.17 214);
    --color-accent1-2-dark: oklch(0.8 0.17 316);
    --color-outline-dark: rgba(255, 255, 255, 0.20);

    --color-background: var(--color-background-light);
    --color-on-background: var(--color-on-background-light);
    --color-primary: var(--color-primary-light);
    --color-accent1: var(--color-accent1-light);
    --color-accent2: var(--color-accent2-light);
    --color-accent1-2: var(--color-accent1-2-light);
    --color-outline: var(--color-outline-light);

    --color-background-inverse: var(--color-background-dark);
    --color-on-background-inverse: var(--color-on-background-dark);
    --color-primary-inverse: var(--color-primary-dark);
    --color-accent1-inverse: var(--color-accent1-dark);
    --color-accent2-inverse: var(--color-accent2-dark);
    --color-accent1-2-inverse: var(--color-accent1-2-dark);
    --color-outline-inverse: var(--color-outline-dark);

    --opacity-weak: 0.76;

    --appbar-height: 64px;
    --content-max-width: 1200px;
    --waves-height: 128px;
}

@property --color-background {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

@property --color-on-background {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

@property --color-primary {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

@property --color-outline {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

@property --color-accent1 {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

@property --color-accent2 {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

@property --color-accent1-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
}

:root {
    transition: --color-background 280ms cubic-bezier(0.7, 0.2, 0.5, 1),
                --color-on-background 280ms cubic-bezier(0.7, 0.2, 0.5, 1),
                --color-primary 280ms cubic-bezier(0.7, 0.2, 0.5, 1),
                --color-outline 280ms cubic-bezier(0.7, 0.2, 0.5, 1),
                --color-accent1 280ms cubic-bezier(0.7, 0.2, 0.5, 1),
                --color-accent2 280ms cubic-bezier(0.7, 0.2, 0.5, 1),
                --color-accent1-2 280ms cubic-bezier(0.7, 0.2, 0.5, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--color-background-dark);
        --color-on-background: var(--color-on-background-dark);
        --color-primary: var(--color-primary-dark);
        --color-accent1: var(--color-accent1-dark);
        --color-accent2: var(--color-accent2-dark);
        --color-accent1-2: var(--color-accent1-2-dark);
        --color-outline: var(--color-outline-dark);

        --color-background-inverse: var(--color-background-light);
        --color-on-background-inverse: var(--color-on-background-light);
        --color-primary-inverse: var(--color-primary-light);
        --color-accent-inverse: var(--color-accent-light);
        --color-accent1-inverse: var(--color-accent1-light);
        --color-accent2-inverse: var(--color-accent2-light);
        --color-accent1-2-inverse: var(--color-accent1-2-light);
        --color-outline-inverse: var(--color-outline-light);
    }
}

* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    text-align: inherit;
    margin: 0;
    padding: 0;
}

.material-symbols-rounded {
    font-family: "Material Symbols Rounded";
    font-variation-settings: "FILL" 0, "GRAD" 0;
    -webkit-font-feature-settings: 'liga';
}

:root {
    display: grid;
    grid-template: minmax(0, 1fr) / minmax(0, 1fr);
    place-content: start stretch;
    place-items: start stretch;
    background: var(--color-background);
    color: var(--color-on-background);
    text-align: start;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    font-size: 13px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root, body {
    min-height: 100%;
}

.weak-text {
    opacity: var(--opacity-weak);
}

h2 > strong {
    color: transparent;
    background: linear-gradient(in oklch 120deg, var(--color-accent1), var(--color-accent1-2), var(--color-accent2));
    background-clip: text;
}

.primary-container {
    background: var(--color-primary);
    color: var(--color-on-primary-container);
}

#top-section {
    margin-bottom: calc(var(--waves-height) - 48px);
}

.primary-container-waves {
    width: 100%;
    height: var(--waves-height);
    fill: var(--color-primary);
    margin-top: -24px 0;
    margin-bottom: calc(var(--waves-height) * -1);
    transform: scaleY(-1);
    pointer-events: none;
}

.primary-container-waves > path {
    pointer-events: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    place-items: stretch start;
}

body > header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.column,
.limited-width-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: stretch start;
}

.limited-width-column {
    align-self: center;
    max-width: var(--content-max-width);
    margin: 0.4em;
}

main {
    text-align: center;
    flex: 1 0 fit-content;
}

.appbar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    place-items: center center;
    backdrop-filter: blur(24px);
    color: var(--color-on-background);
}

body > header {
    height: var(--appbar-height);
    margin-bottom: calc(var(--appbar-height) * -1);
    display: grid;
    grid-template: minmax(0, 1fr) auto / minmax(0, 1fr);
    grid-template-areas: "appbar"
                         "bottom-outline";
    font-size: 17px;
    font-weight: 600;
    color: var(--color-on-primary-container);
}

body > header::after {
    content: "";
    grid-area: bottom-outline;
    height: 1px;
    margin: 0 16px;
    background: var(--color-outline-on-primary-container);
}

body > header > .appbar {
    grid-area: appbar;
    padding: 0 17px;
}

h2, h3 {
    font-weight: 700;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 48px;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }
}

body > main > section {
    flex: 1 0 fit-content;
}

.top-section {
    padding-top: calc(var(--appbar-height) + 24px);
}

.bottom-section {
    padding: 4em 0;
}

.bottom-section .material-symbols-rounded {
    font-size: 2em;
    font-weight: 550;
}

#file-picker {
    display: none;
}